version: "3.9"

services:

  backend:
    build:
      context: ./backend
    container_name: eventify-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
    container_name: eventify-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
