:root {
  /* fuentes */
  --font-title: 'Poppins';
  --font-base: 'Montserrat';

  /* los colores de la paleta 3 que elegimos y los colores para las advertencias*/
  --color-primary: #0B72B9;
  --color-secondary: #E11D9E;
  --color-success: #16A34A;
  --color-warning: #F59E0B;
  --color-danger: #DC2626;
  --color-info: #00C2B3;

  
  --color-placeholder: #9CA3AF;
  --color-bg: #f5f8ff;
  --color-white: #fff;
  --color-black: #000;

  
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --input-height: 44px;
}