@import './styles/variables.css';
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: transparent;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;

}
